<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inventory Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div class="row text-center well text-large" width:250px; height:180px style="font-size: 20px color: #aaaaaa;">
            <div class="col-sm-3">Welcome <b>{{ request.user.first_name }}</b></div>
            <div class="col-sm-3">Designation <b>{{ request.user.designation }}</b></div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#permissionModal">Request Permisson</button>
            </div>
            {% if write or request.user.user_type == 1 %}
            <div class="col-sm-3"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">Add Product</button>
            </div>
            {% else %}
            <div class="col-sm-3"><button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">Add Product</button>
            </div>
            {% endif %}


        </div>
        <table id="datatable1" class=" table display" style="width:100%">
            <thead>
                <tr>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>Vendor</th>
                    <th>Mrp</th>
                    <th>Batch_Date</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
        </table>
    </div>

    {% if request.user.user_type == 1 %}

    <div class="container">
        <table id="datatable2" class=" table display" style="width:100%">
            <thead>
                <tr>
                    <th>EmployeeName</th>
                    <th>ReqesutedPermission</th>
                    <th>Grant</th>
                    <th>Mrp</th>
                    <th>RequestedDate</th>
                    <th>RequestedDate</th>
                </tr>
            </thead>
        </table>
    </div>
    {% endif %}

    <div class="modal fade" id="updateModal" role="dialog">
        <div class="modal-dialog mod-sos" style="width: 400px;">
            <!-- Modal content-->
            <div class="modal-content lg-mod">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update</h4>
                </div>
                <div class="modal-body">
                    <form id="update_form" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <label for="email">ProductName :</label>
                            <input type="text" class="form-control" name="product_name" id="product_name" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Vendor :</label>
                            <input type="text" class="form-control" name="vendor" id="vendor" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Mrp :</label>
                            <input type="text" class="form-control" name="mrp" id="mrp" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">BatchDate :</label>
                            <input type="text" class="form-control" name="batch_date" id="batch_date" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Quantity :</label>
                            <input type="text" class="form-control" name="quantity" id="quantity" autocomplete="off" required>
                        </div>



                        <div class="row">
                            <a data-dismiss="modal" href="#lost" class="btn dom1 btn-default col-sm-offset-1 col-sm-3">Cancel</a>
                            <button id="update_submit" type="submit" class="btn dom2 btn-default col-sm-offset-1 col-sm-3">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="postModal" role="dialog">
        <div class="modal-dialog mod-sos" style="width: 400px;">
            <!-- Modal content-->
            <div class="modal-content lg-mod">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Inventory</h4>
                </div>
                <div class="modal-body">
                    <form id="post_form" method="post">{% csrf_token %}

                        <div class="form-group">
                            <label for="email">ProductName :</label>
                            <input type="text" class="form-control" name="product_name" id="product_name" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Vendor :</label>
                            <input type="text" class="form-control" name="vendor" id="vendor" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Mrp :</label>
                            <input type="text" class="form-control" name="mrp" id="mrp" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">BatchDate :</label>
                            <input type="text" class="form-control" name="batch_date" id="batch_date" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Quantity :</label>
                            <input type="text" class="form-control" name="quantity" id="quantity" autocomplete="off" required>
                        </div>


                        <div class="row">
                            <a data-dismiss="modal" href="#lost" class="btn dom1 btn-default col-sm-offset-1 col-sm-3">Cancel</a>
                            <button id="add_submit" type="submit" class="btn dom2 btn-default col-sm-offset-1 col-sm-3">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="permissionModal" role="dialog">
        <div class="modal-dialog mod-sos" style="width: 400px;">
            <!-- Modal content-->
            <div class="modal-content lg-mod">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Permission Status</h4>
                </div>
                <div class="modal-body">
                    <form id="permission_form" method="post">{% csrf_token %}

                        <div class="form-group">
                            <label for="get">Read :</label>
                            <button type="button" value=1 id="get" class=" permission_btn btn btn-primary">Request</button>

                        </div>
                        <div class="form-group">
                            <label for="put">Delete :</label>
                            <button type="button" value=2 id="put" class="permission_btn btn btn-primary">Request</button>

                        </div>
                        <div class="form-group">
                            <label for="post">Update :</label>
                            <button type="button" value=3 id="post" class="permission_btn btn btn-primary">Request</button>

                        </div>
                        <div class="form-group">
                            <label for="admin">Admin :</label>
                            <button type="button" value=4 id="admin" class="permission_btn btn btn-primary">Request</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


</body>

</html>

<script>
    // function updateRow(product_id) { // $.ajax({ // type: "PUT", // url: '/booking/' + BookingId, // data: { // flag: 1, // quantity: 10, // product_id: 18 // }, // dataType: 'json', // async: false, // success: function() { // //alertify.success("Booking Escalation Status Updated Sucessfully!"); // }, // }); // } // // function deleteRow(product_id) { // $.ajax({ // dataType: "json", // url: '/t/inventory/' + product_id, // type: 'DELETE', // success: function(data) { // console.log(data); // //alertify.success('Sucessfully Deleted Carrierlocation Entry !'); // }, // error: function(data) { // console.log(data); // } // }); // }

    $(document).ready(function() {
        $('#datatable1').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false,
            "processing": true,
            "serverSide": true,
            "serverSide": true,
            "ajax": {
                "url": "/t/inventory",
                "type": "GET"
            },
            "rowCallback": function(row, data, index) {
                <!--console.log("WEWEWEWEWEWEW");-->
                <!--console.log(row);-->
                <!--console.log(data);-->
                <!--console.log(index);-->
                <!--console.log("bvbvbvbvbvbv");-->
            },
            "columns": [{
                    "data": "product_id"
                },
                {
                    "data": "product_name"
                },
                {
                    "data": "vendor"
                },
                {
                    "data": "mrp"
                },
                {
                    "data": "batch_date"
                },
                {
                    "data": "quantity"
                },
                {
                    "data": "status"
                },
                {
                    data: "update_option_val",
                    render: function(data, type, row, meta) {
                        //                       console.log(data); // console.log(type); // console.log(row); // console.log(meta)
                        {% if update or request.user.user_type == 1 %}
                        propd = '';
                        {% else %}
                        propd = 'disabled'; {% endif %}
                        html = '<div class="btn-group"><button ' + propd + ' id = ' + data + ' type="button" class="btn btn-primary .btn-lg dt-edit" style="margin-right:16px;" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></div>'

                        return html;
                    }
                },
                {
                    data: "delete_option_val",
                    render: function(data, type, row, meta) {

                        {% if delete or request.user.user_type == 1 %}
                        propd = '';
                        {% else %}
                        propd = 'disabled';
                        {% endif %}
                        html = '<div class="btn-group"><button ' + propd + ' onclick="deleteRow(' + data + ');" id = ' + data + ' type="button" class="btn btn-danger .btn-lg dt-delete"><span class="glyphicon glyphicon-remove glyphicon-trash" aria-hidden="true"></span></button></div>'
                        return html;

                    }
                },
            ]
        });

        $('#datatable1 tbody')
            .on('click', 'tr', function() {
                var rowData = $('#datatable1').DataTable().row(this).data();
                $("#product_id").val(rowData.product_id);
                $("#vendor").val(rowData.vendor);
                $("#mrp").val(rowData.mrp);
                $("#quantity").val(rowData.quantity);
                $("#product_name").val(rowData.product_name);
                $("#batch_date").val(rowData.batch_date);
            });


        $("#post_form").on('submit', function(e) {
            $("#singup_submit").attr('disabled', 'disabled');
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: "/t/inventory",
                data: form.serialize(),
                success: function(data) {
                    $('#datatable1').data.reload();
                },
                error: function(data) {
                    alert("Error in adding inventory!. ")
                },

            });
        });

        $("#update_form").on('submit', function(e) {
            console.log("^^^^^^^^^^^^^^^^^^^");
            debugger;
            $("#update_submit").attr('disabled', 'disabled');
            e.preventDefault();
            var form = $(this);
            form = $(this).closest("form"),
                formData = form.serialize()
            $.ajax({
                dataType: "json",
                type: "PUT",
                url: "/t/inventory/",
                data: {
                    data: formData,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    $('#datatable1').data.reload();
                },
                error: function(data) {
                    alert("Error in updating inventory!. ")
                },

            });
        });

        //Handling permission request UI part
        $("#myInput").prop("value", "Input New Text");
        $("#myButton").html("Button New Text");

        $(".permission_btn").on('click', function(event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            console.log("asasasasasaasasa");
            console.log("wrwerwrwere");
            alert(event.currentTarget.value);
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/t/permission/",
                data: {
                    "permission_type": event.currentTarget.value
                },
                success: function(data) {
                    $('#datatable1').data.reload();
                },
                error: function(data) {
                    alert("Error in adding inventory!. ")
                },

            });
        });




    });

</script>
